@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
body {
    font-family: Lato;
    font-weight: 300;
}

h1 {
    text-align: center !important;
    font-size: -webkit-xxx-large !important;
}

.btnstd {
    width: 5em;
}

.card-title {
    text-align: center;
    font-size: 30px;
}

.card-img-top {
    display: block;
    margin: 0 auto;
}

#menu {
    font-weight: 400;
    background: #DDD;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
    border-radius: 3px;
    overflow: auto;
}
#menu a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}
#menu a:hover {
    background: #BBB;
}
main &gt; section {
    display: none;
    padding: 20px 5px;
}
section#viewHome {
    display: block;
}
section h1 {
    margin: 10px 0px;
    font-size: 1.2em;
}
#infoBox, #errorBox, #loadingBox {
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}
#infoBox&gt;header, #errorBox&gt;header, #loadingBox&gt;header {
    float: right;
    margin-right: 5px;
}
#infoBox&gt;header:hover, #errorBox&gt;header:hover, #loadingBox&gt;header:hover {
    transition: all 0.2s;
    font-weight: bold;
    cursor: pointer;
}
#loadingBox {
    background: #7CB3E9;
}
#infoBox {
    background: #393;
}
#errorBox {
    background: #F50;
}

footer {
    background: #DDD;
    padding: 5px 10px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 3px;
}

.card {
    margin: 20px;
    padding: 20px;
    height: 250px;
    border: 2px solid black;
    display: inline-block;
}
