<div style="width: 28em; height: 58rem; margin: 0 auto;">
  <img class="card-img-top" src="res/duel.png" width="200" height="250" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Blocky-Oh Duel Result</h4>
    <p class="card-text" style="text-align: center;">
        <span class="btn btn-primary" style="display: block;">{{challenger}}</span>
        <div style="text-align: center; display: block; margin: 10px;">VS.</div>
        <span class="btn btn-primary" style="display: block;">{{opponent}}</span>

        <h2 style="text-align: center; display: block;">Outcome</h2></br>
        <div id="duelResultOutcome"
             class="btn"
             style="text-align: center; display: block;">{{outcome}}</div></br>
    </p>
  </div>
</div>

