<div style="width: 28em; height: 58rem; margin: 0 auto;">
  <div class="card-block">
    <h4 class="card-title">You have won a new card!</h4>
    <div class="card" style="width: 28em; height: 45rem; margin: 0 auto;">
      <img class="card-img-top" src="res/{{cardId}}.jpg" width="200" height="250" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{name}}</h4>
        <p class="card-text">
            <div class="btn btn-warning" style="text-align: center; display: block;" >{{rarity}}</div></br>
            <span style="float: left;">ATK: <span class="btn btn-danger btnstd">{{attack}}</span></span>
            <span style="float: right;">DEF: <span class="btn btn-success btnstd">{{health}}</span></span></br>
        </p>
      </div>
    </div>
    <h4 class="card-title">Congratulations!</h4>
</div>

